body {
  /* المطلوب الأول هنا */
  text-align: center;
  background-size: cover;
  background-image: url(./img/KuwaitCodesWallpaper.png) ;
}
html{
  font-family: Cairo;
}
/* المطلوب الثاني هنا */
nav { display:flex;
  justify-content: center ;
  width: -300px;
 
  text-align: center;
}
.nav-elements {display:flex;
  justify-content: space-between ;
  width: 300px;
text-align: center;

  
}

.card {
  /* المطلوب الثالث هنا */
  width: 400px;
  height: 500px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 10px 10px 10px;
}
img {
  /* المطلوب الرابع هنا */
  width: 120px;
  height: 120px;
  margin-top: 20px;
  box-shadow: 10px 10px 10px;
  border-radius: 528px;
}

.hobbies{ display: flex;
  justify-content: center;
  /* المطلوب السادس هنا */
}

.center {
  margin: auto;
}

ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.img:hover{ transform:translateX(-30px) translateY(-30px);
 ;
}
.img{
  transition: all 1s linear;
}
a {
  text-decoration: none;
  color: black;
}
